* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* -------------
  * Stats tables
  * ------------
*/

.stats table {
    width: 250px;
    margin: 10px 10px 10px 10px;    
}

/* --------------------------
  * Header
  * --------------------------
*/

.header {
    float: right;    
}

/* --------------------------
  * Content
  * --------------------------
*/

/* The content div is placed as a wrapper around all the docs */
.content {
    margin: 0 auto;
    max-width: 800px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.content p {
    line-height: 1.6em;
    font-size: 1.125em;
}
