{% extends "layout.html" %}
{% block body %}
  <div id="player-list">
    <table class="pure-table pure-table-striped">

      <thead>
	    <tr>
  		  <th>Player</th>
   		  <th></th>
		  <th></th>
	    </tr>
	  </thead>

	  <tbody>
	  {% for player in players %}
	    <tr>
	      <td>{{ player.p }}</td>
		  <td><a href="/shot_chart/{{ player.pid }}">Shot Chart</a></td>
		  <td><a href="/shot_freq_map/{{ player.pid }}">Shot Frequency</a></td>
	    </tr>
	  {% endfor %}
	  </tbody>

    </table>
  <div>
{% endblock %}
